
body {
    background-color: #3D087B;
    font-family: sans-serif;
}

.clock {
    position: absolute;
    left: 60px;
    width: 15em;
}

.alarm-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #3D087B;
    background-color: white;
    border-radius: 10px;
    height: 280px;
    width: 560px;
    padding: 0 20px 0 20px;
    position: absolute;
    top: 130px;
    left: 60px;

}

.alarm-item {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;


}

.drop-down {
    width: 20em;
    color: #3D087B;
    border: 1px solid #dddddd;
    border-radius: 4px;

}

.dropbar1 {
    width: 1px;
    height: 18px;
    filter: opacity(30%);
    background-color: black;
    position: absolute;
    left: 37px;
    top: 70px;
}
.dropbar2 {
    width: 1px;
    height: 18px;
    filter: opacity(30%);
    background-color: black;
    position: absolute;
    left: 37px;
    top: 130px;
}
.dropbar3 {
    width: 1px;
    height: 18px;
    filter: opacity(30%);
    background-color: black;
    position: absolute;
    left: 37px;
    top: 195px;
}


.good-morn {
    color: white;
    font-weight: bolder;
    font-size: 25px;
    background-color: #fc5eff2c;
    width: 568px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 440px;
    left: 48px;
}

.set-alarm {
    font-size: 25px;
    font-family: sans-serif;
    color: white;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 520px;
    left: 48px;

    background: linear-gradient(
        90deg,
        #6E54EC ,
        #CB52F8 ,
        #FC5EFF
    );

}
.set-alarm-hidden {
    display: none;
}

.set-alarm:hover {
    background: linear-gradient(
        90deg,
        #FC5EFF ,
        #CB52F8 ,
        #6E54EC
    );
}

.set-alarm:hover .set-alarm-hidden {
    display: block;
}

.set-alarm:hover .set-alarm-normal {
    display: none;
}


.output-alarm {
    font-family: sans-serif;
    font-size: 14px;
    color: #FC5EFF;
    background-color: #fc5eff2c;
    width: 300px;
    padding: 10px 0 10px 0;
    
    line-height: 25px;
    border-radius: 5px;
    position: absolute;
    top: 520px;
    left: 310px;

}

.digital-clock {
    background-color: white;
    width: 580px;
    height: 120px;
    border-radius: 10px;
    left: 660px;
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

}
.dctime {
    font-family: sans-serif;
    font-size: 1.2rem;

    color: #3D087B;
    position: absolute;
    left: 8%;
}

.dchours {
    color: #8A11BF;
    font-size: 1.5rem;
}

.timelineimg1 {
    color: #5F0089;
    font-size: 1.2rem;
    background-image: url(./timeline.jpg);
    height: 70%;
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    position: absolute;
    left: 20%;
}
.colon1 {
    font-size: 2rem;
    color: #8A11BF;
    position: absolute;
    left: 35%;
}
.timelineimg2 {
    color: #5F0089;
    font-size: 1.2rem;
    background-image: url(./timeline.jpg);
    height: 70%;
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    position: absolute;
    left: 40%;
}
.colon2 {
    font-size: 2rem;
    color: #8A11BF;
    position: absolute;
    left: 55%;
}
.timelineimg3 {
    color: #5F0089;
    font-size: 1.2rem;
    background-image: url(./timeline.jpg);
    height: 70%;
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    position: absolute;
    left: 60%;
}

.amimg {
    background-image: url(./AM_svg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-size: 1.2rem;
    height: 70%;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 80%;

}

.zindex1 {
    width: 500px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    position: absolute;
    top: 12px;
}
.zindex2 {
    width: 450px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    position: absolute;
    top: 24px;
}

.grabsome {
    color: #8E53F0;
    background-color: white;
    width: 580px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 900;
    position: absolute;
    left: 670px;
    top: 200px;
}

.curtainlady {
    background: url(./Component30.jpg);
    background-size: 100% 100%;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    position: absolute;
    left: 670px;
    top: 330px;
}

.msgbox1 {
    color: #858585;
    background-color: white;
    border-radius: 10px;
    font-size: 13px;
    padding: 10px;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 480px;
}
.msgbox2 {
    color: #858585;
    background-color: white;
    border-radius: 10px;
    font-size: 13px;
    padding: 10px;
    width: 180px;
    height: 30px;
    position: absolute;
    top: 590px;
    left: 50px;

}

.arrow1 {
    border: 10px solid transparent;
    border-left-color: white;
    position: absolute;
    top: 25px;
    left: 170px;
}

.arrow2 {
    border: 10px solid transparent;
    border-bottom-color: white;
    position: absolute;
    top: -20px;
    left: 110px;
}

.arrow3 {
    border: 10px solid transparent;
    border-right-color: white;
    position: absolute;
    left: 116px;
    top: 110px;
    transform: rotateZ(-70deg);
}

.curved-arrow {
    width: 130px;
    height: 110px;
    border: 1px solid transparent;
    border-color: white white transparent transparent;
    border-top-right-radius: 100px;
    transform: rotateZ(40deg);

    position: absolute;
    left: 1200px;
    top: 90px;
}

@media (max-width: 768px) {
    .msgbox1,.msgbox2,.curved-arrow {
        display: none;
    }
    body {
        margin: 20px;
    }
    .clock {
        width: 50%;
        left: auto;
    }
    .digital-clock {
        width: 95%;
        left: 0;
        top: 200px;
    }


    .alarm-container {
        width: 90%;
        top: 400px;
        left: auto;

    }
    .good-morn {
        width: 90%;
        left: auto;
        top: 720px;
    }

    .set-alarm {
        width: 90%;
        left: auto;
        top: 800px;
    }
    .output-alarm {
        width: 90%;
        text-align: center;
        left: auto;
        top: 880px;
    }
    .grabsome {
        width: 90%;
        left: auto;
        top: 1050px;
    }
    .curtainlady {
        width: 75%;
        left: 12%;
        right: 12%;
        top: 1150px;
    }
    .alarm-item {
        font-size: 0.8rem;
    
    }
    
    .drop-down {
        max-width: 12rem;
    }
    .zindex1 {
        width: 80%;
        height: 120px;
    }
    .zindex2 {
        width: 60%;
        height: 120px;
    }

}

@media (max-width: 425px) {
    .digital-clock {
        top: 130px;
    }
    .alarm-container {
        top: 320px;
    }
    .good-morn {
        top: 630px;
    }
    .set-alarm {
        top: 720px;
    }
    .output-alarm {
        top: 800px;
    }
    .grabsome {
        font-size: 1rem;
        top: 950px;
    }
    .curtainlady{
        height: 220px;
        top: 1050px;
    }






    .zindex1 {
        width: 80%;
        height: 120px;
    }
    .zindex2 {
        width: 60%;
        height: 120px;
    }
    



    .alarm-item {
        font-size: 0.9rem;
    }
    
    .drop-down {
        width: 8rem;
    }
 
    .dctime {
        font-size: 1rem;
    }

    .dchours {
        font-size: 1.2rem;
    }
    
    .timelineimg1 {
        font-size: 1rem;
        height: 70%;
        width: 12%;
      
    }
    .colon1 {
        font-size: 1.5rem;
    }
    .timelineimg2 {
        font-size: 1rem;
        height: 70%;
        width: 12%;
    }
    .colon2 {
        font-size: 1.5rem;
    }
    .timelineimg3 {
        font-size: 1rem;
        height: 70%;
        width: 12%;
    }
    
    .amimg {
        font-size: 1.2rem;
        height: 70%;
        width: 12%;
       
    }
    
}

@media (max-width: 375px) {
    .digital-clock {
        top: 100px;
    }

    .alarm-container {
        top: 300px;
    }

    .good-morn {
        font-size: 1rem;
        top: 600px;
    }

    .set-alarm {
        top: 680px;
    }
    .output-alarm {
        top: 750px;
    }
    .grabsome {
        font-size: 1rem;
        top: 900px;
    }

    .curtainlady{
        height: 180px;
        top: 1000px;
        
    }



    



    .alarm-item {
        font-size: 0.7rem;
    
    }
    .drop-down {
        width: 6rem;
    }

    .dctime {
        font-size: 0.7rem;
    }

    .dchours {
        font-size: 0.8rem;
    }
    
    .timelineimg1 {
        font-size: 0.6rem;
        height: 70%;
        width: 14%;
      
    }
    .colon1 {
        font-size: 1.5rem;
    }
    .timelineimg2 {
        font-size: 0.6rem;
        height: 70%;
        width: 14%;
    }
    .colon2 {
        font-size: 1.5rem;
    }
    .timelineimg3 {
        font-size: 0.6rem;
        height: 70%;
        width: 14%;
    }
    
    .amimg {
        font-size: 1rem;
        height: 70%;
        width: 14%;
    }


}